.footer{
    max-width: 1460px;
    margin: auto;
    padding: 2.5em 1em;
}
.contact-headlines{
    background: url('../../assets/6227820.jpg' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:40dvh;
    padding: 2.5em 1.5em ;
    margin: 1em auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-headlines> h1{
    text-align: center;
    height: fit-content;
    font-size: 2.8rem;
    padding:.5em 0;
    line-height: 1.3em;
    width: 70%;
    margin: auto;
 
}
.contact-headlines> h4{
    text-align: center;
    height: fit-content;
    width: 65%;
    margin: 0 auto;
    color: var(---primary-100);
    font-weight: 600;
}

.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    width: 90%;
    margin: auto;

}
.contact-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    gap: 1em;
    width: 75%;
}
.contact-links li {
    font-size: 1.5em;
    margin:.1em;
    font-weight: 600;
    list-style-type: none;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}
.contact-links li::before{
    content: ' ';
    padding: .3px .56em;
    background:var(---primary-300);
    margin: 0 .5em;
    border-radius: 50px;
}

.contact-links li:hover{
   scale: 1.2;
   overflow: hidden;
   transform: rotate(5deg);
   color: var(---primary-300);
}

.contact-links >.buzz{
    padding: 1em 2em;
    flex: 1;
    font-size: 1.5em;
    font-weight: 600;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
    background-color: gold !important;
}

.buzz:hover{
   outline-offset: .5em;
   transform: translatey(.5em);
   background-color: white !important;
   
}



@media screen and (max-width:868px) {
    .contact-headlines> h1{
        text-align: center;
        line-height: 1.2em;
        width: 85%;
    }

 .contact-links > ul  li{
    font-size: 1.3em;
 }
 .contact-links .buzz{
    padding: 1em .54em;
 }
 .contact-links{
    gap: .5em;

 }
}   

@media screen and (max-width:784px) {
    .contact-headlines> h1{
        text-align: center;
        line-height: auto;
        width: 100%;
        font-size: 2.5em;
        font-weight: 600;

    
    }
    .contact-headlines> h4{
        text-align: center;
        width: 100%;
  
    }

    .contact-links{
        gap: 1.5em;
        flex-direction: column-reverse;
        
     }
     .contact-links> ul{
        width: 100%;
        justify-content: center;

     }

     .contact-links> .buzz{
        width: 50%;
     }
}

@media screen and (max-width:764px) {
    .contact-headlines> h1{
        text-align: center;
        line-height: auto;
        width: 100%;
        font-size: 1.7em;
        font-weight: 600;

    
    }
    .contact-headlines> h4{
        text-align: center;
        width: 100%;
  
    }

    .contact-links{
        gap: 1.5em;
        flex-direction: column-reverse;
        
     }
     .contact-links> ul{
        width: 100%;
        justify-content: center;

     }
     .contact-links> .buzz{
        width: 65%;
     }
}

