.prj-c{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: auto;
    padding: 1em 0;
    position: relative;
}

.prj-title{
    width: 90%;
    margin: auto;
    padding: 1em;
}

.prj-title >h4{
    text-align: center;
    margin: auto;
    padding-bottom: 1em;
}
.prj-title>h2{
    font-size: 2.8em;
    width: 90%;
    margin: auto;
    line-height: 1.3em;
}

.toggel-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
.toggel-btn >button{
    background-color: transparent;
    color: var(---primary-100);
}
.toggel-btn>button:hover{
    background-color:var(---primary-300);

}
.toggel-btn>button:focus{
    background-color: var(---primary-300);
    color: var(---primary-400);

}
.prj-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.prj-grid > .prj-b{
    display:flex;
    flex-direction: column;
    gap: 1em;
    text-align: left;
    align-items: center;
    margin: 1em 0;
    padding: .5em;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid var(---primary-400);
    background-color: rgba(21, 21, 21, 0.523);
}

.img-container{
    width:100%;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
}
.prj-img{
    width: 100%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    object-fit: cover;
    border-radius: 10px;
}
.prj-img:hover{
    scale: 1.1;    
}

.prj-main-c > a > h3{
    font-size: 1.5em;
    font-weight: 700;
    width: 90%;
    margin: auto;
}
.prj-main-c >a > p{
    font-size: 1em;
    font-weight: 400;
    color: var(---primary-200);
    width: 90%;
    margin: auto;

}


.prj-b:hover .prj-img{
    scale: 1.1;
    transition: all ease-in-out 3s;
    
    
}
.prj-b:hover .prj-main-c{
    text-decoration:none;
}
.prj-grid:hover .prj-b:not(:hover){
    transition: all ease-in-out .8s;
    filter: blur(5px);
}

.prj-btn-container{
 display: flex;
 flex-direction: row;
 gap: 1rem;
 margin: 1em auto;
 width: 90%;
}
.prj-btn{
    display: flex;
    flex-direction: row;
    background: var(---primary-400);
    gap: 1em;
    color: var(---primary-100);
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.prj-btn p{
    font-size: 10px;
}

.prj-btn:hover{
    background: var(---primary-400);
    color: var(---primary-100);
    box-shadow: 5px 5px 10px rgba(255, 217, 0, 0.194);
    scale: 1.1;
}
.prj-icons{
    width: 25px;
}

@media screen and (max-width:924px) {
    .prj-grid{
        grid-template-columns: auto;
    }

    .prj-b, .prj-b:nth-child(even){
        flex-direction: column;
        gap: 2em;
    }
    .img-container{
        width: 100%;
    }
    .prj-main-c{
        font-size: 1em;
    }
    
.prj-btn-container{
    gap: .5rem;
   }
   .prj-btn{
       display: flex;
       background: var(---primary-400);
       gap: .5em;
   
   }
   .prj-btn>p{
    display: none;
   }
}
@media screen and (max-width:760px) {
  
    .prj-c{
        width: 95%;

    }
   .prj-title>h2{
    font-size: 2em;
   }
}
@media screen and (max-width:400px) {
    .toggel-btn{
        gap: .5em;
        padding: .5em;
    }
    .toggel-btn >button{
        background-color: transparent;
        color: var(---primary-100);
        font-size: .8em;
        font-weight: 550;
    }
}
.active{
    background-color: var(---primary-300);
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
  }
  
  .modal-content {
    background: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    max-width: 1080px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }

  .modal-text-container{
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2{
        text-transform: capitalize;
    }
  }
  
  .modal-close {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .modal-links {
    margin-top: 20px;
  }
  
  .demo-link {
    display: inline-block;
    padding: 10px 20px;
    background:gold;
    color: #171717;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .demo-link:hover {
    background: #0056b3;
  }