.project-article-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.641);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 100;
  }
  
  .project-article {
    background-color: rgb(34, 34, 34);
    padding: 20px;
    border-radius: 5px;
    max-width: 85%;
    max-height: 85%;
    min-height:auto;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(---primary-100);
    gap: 1.5em;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .pa-img-container{
    min-width: 35%;
    border-radius: 5px;
  }
  .pa-img{
    width: 100%;
    object-fit: contain;
    min-height: 100%;
    border-radius: 5px;
  }

  .pa-img-container:hover .pa-img{
    transform: rotate(0);
  }

  .pa-content-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5em;
  }
  .pa-content-info >p{
    text-align: left;
    padding: 1em 0;
  }
  
  .pa-btn-container{
    margin-top: 1.75em;
    display: flex;
    gap: 1.5em;
  }
  @media screen and (max-width:1024px) {
    .project-article{
      flex-direction: column;
      padding: 10px;
      gap: .5em;
    }

    .pa-content-info{
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: .5em;
    }

    .pa-img{
      max-height: 30%;
      object-fit: contain;
      border-radius: 5px;
    }
  
  }