.loading{
  min-height: 100dvh;
  align-content:center ;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  text-transform: capitalize;
  width: 100%;
}
.loadnav{
  position: absolute;
  top: 1%;
  left: 0;
  right: 0;
}
.about-container {
    margin: auto;
    width: 98%;
    min-height: 100dvh;

    padding: 1em .5em;
    display: grid;
    grid-template-columns:repeat(1, minmax(250px, 1fr));
    grid-template-rows:auto-fit ;
    place-content: center;
    gap: 1em;
   
  }

  

  .profile-c{
    background-color: var(---primary-400);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    position: relative;
    isolation: isolate;
  }
  
  .profile-image {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;

    @media (max-width:580px) {
      height: 400px;
    }
  }
  
  .detail-card-BIO{
    background-color: var(---primary-400);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: 1px solid rgb(50, 50, 50);
    width: 95%;
    margin: auto;

    p{
      padding-top:1em;
      text-align: left;
    }
  }
  .detail-card-BIO >h2{
    color: var(---primary-300);
  }

  
  .detail-card1, .detail-card2, .detail-card3,
  .detail-card4, .detail-card5 {

    background-color: var(---primary-400);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: 1px solid rgb(50, 50, 50);
    width: 95%;
    margin: auto;
    
  }
  
  .detail-card1 h2,.detail-card2 h2, .detail-card3 h2,
  .detail-card4 h2, .detail-card5 h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(---primary-300);
  }
  
  .detail-card1 p,.detail-card2 p, .detail-card3 p,
  .detail-card4 p, .detail-card5 p {
    margin-bottom: .5em;
  }
  .detail-card2 >ul{
    margin-left: 1em;
  }

  .detail-card3 > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
  }
  
  .skills{
    padding: .5em .85em;
    background-color: var(---primary-300);
    border-radius: 500px;
    color: var(---primary-400);
    text-align: center;
    width: fit-content;
  }
  
  
  /* Responsive Styles */
  @media (min-width: 580px) {

    .about-container {
      margin: auto;
      width: 98%;
      min-height: 100dvh;
  
      padding: 1em 0;
      display: grid;
      grid-template-columns:minmax(340px, 36rem) minmax(250px, 350px);
      grid-template-rows:auto-fit auto-fit auto-fit auto-fit;
      place-content: center;
      grid-template-areas: 
      'header card1'
      'nav nav'
      'card4 card4'
      'card3  card2'
      ;
      gap: 1em;
     
    }
    .detail-card5{
      grid-area: card1;
    }
    .detail-card-BIO{
      grid-area:nav;
    }
    .detail-card2{
      grid-area: card2;
    }
    .detail-card3{
      grid-area: card3;
    }
    .profile-c{
      grid-area: header;
    }
    .detail-card4{
      grid-area:card4;
    }
 
    .detail-card-BIO, .detail-card1,
    .detail-card2, .detail-card3, .detail-card4,
    .detail-card5, .profile-c{
      width: 100%;
      height: 100%;
    }
  
  }
  
  @media (min-width : 980px) {
    .about-container {
      max-width: 1428px;
      margin: auto;
      width: 98%;
      min-height: 100dvh;
  
      padding: 1em 0;
      display: grid;
      grid-template-columns:minmax(360px, 1fr) minmax(320px, 1fr) minmax(250px, 1fr);
      grid-template-rows:auto-fit auto-fit auto-fit auto-fit;
      place-content: center;
      grid-template-areas: 
      'header nav  nav'
      'header card1  card2'
      'card3 card3  card4'
      ;
      gap: 1em;
     
    }
  }

  .slideshow-container{
    position: relative;
    width: fit-content;
    overflow: hidden;

    button{
      padding: .7em 1em !important;
      height: fit-content;
      width: fit-content;
      opacity: 0 !important;
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
      position: absolute;
      top: 50%;
      
      
    } 
  }


   
    .left{
      left: 0;
      transform: translateX(-100%);
    }
    .right{
      right: 0;
      transform: translateX(100%);

    }

  .profile-c:hover button{
    opacity: 1 !important;
    transform: translateX(0);

  }
